@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #091928;
  --primary-color-10: #0919281A;
  --primary-color-15: #09192826;
  --primary-color-80: #091928CC;
  --secondary-color: #F15025;
  --third-color: #00000033;
  --black: #0000000D;
  --white: #FFFFFC;
  --white-80: #FFFFFCCC; 
  --very-light-gray: #FAFAFA;
  --winchester-gray: #8B8C891A;
  --green: #128C7E;
  --green-10: #128C7E1A;

  --primary-font: 'Barlow', sans-serif;
}


body {
  height: 2560px;
  font-family: var(--primary-font);
}


@keyframes bgNav {
  0% {
    background-color: initial;
  }

  100% {
    background-color: white;
    color: var(--primary-color-80);
  }
}

.navBg {
  animation: bgNav 500ms ease-out forwards;
}


@keyframes changeColor {
  0% {
    color: #FFFFFCCC;
    opacity: 0;
  }

  100% {
    color: var(--custom-color);
    opacity: 1;
  }
}


.navElement {
  animation: changeColor 500ms ease-out forwards;
  transition: opacity 300ms ease-out;
}


.navGlobe {
  animation: changeColor 500ms ease-out forwards;
  transition: opacity 300ms ease-out;
}


.icon {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: relative;
}

.icon.visible {
  opacity: 1;
}


.menu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 500ms ease-in-out;
}


.menu.open {
  max-height: 100px;
  opacity: 1;
  transition: max-height 500ms ease-in-out;
}

.menu__languages {
  position: relative;
}

.menu__languages .BsFillCaretDownFill {
  opacity: 0;
  transition: opacity 600ms ease-in-out, visibility 600ms ease-in-out;
  visibility: hidden;
}

.menu__languages:hover .BsFillCaretDownFill {
  opacity: 1;
  transition: opacity 600ms ease-in-out, visibility 600ms ease-in-out;
  visibility: visible;
}

.menu__languages:hover .submenu__Languages {
  background: white;
  border-radius: 10px;
  display: block;
  opacity: 1;
  right: 0;
  top: 55px;
  transition: opacity 600ms ease-in-out, visibility 600ms ease-in-out;
  visibility: visible;
  width: 203px;
}

.submenu__Languages {
  background: white;
  border-radius: 10px;
  display: block;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 55px;
  transition: opacity 600ms ease-in-out, visibility 600ms ease-in-out;
  visibility: hidden;
  width: 203px;
}

.menu__languages .submenu__Languages .BsFillCaretDownFill {
  transition-delay: 600ms;
}